body{
    background-color: aquamarine;
}
.product h2{
    text-align: center;text-transform: capitalize;
}
.product{
    background-color: white;
    width: 300px;
    border: 2px solid black;
    border-radius:5px ;
    margin: auto;
    padding: 30px;
}
.product img{
    background-color: aliceblue;
    width: 150px; 
    border: 2px;
    border-radius: 8px;
    margin:20px,20px;
    padding: 10px;
}
.show{
    color: brown;text-align: justify;text-transform: capitalize;font-size: 20px;
}
.price{
    color: green;text-align: center;font-size: 40px;margin: auto;
}
.product button{
    background-color: dodgerblue;
    border: 4px;
    border-radius: 0px;
    padding: 3px;
    align-items: center;
    margin-block: 20px;
    font-size: 15px
}
